{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron p-5" style="background-color: rgba(0, 0, 0, 0.6); border-radius: 10px; color: white; max-width: 500px; margin: auto;">
        <h2 class="display-5 text-center">Login</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="id_matric_number">Matric Number:</label>
                {{ form.matric_number }}
            </div>
            <div class="form-group mb-3">
                <label for="id_password">Password:</label>
                <div class="input-group">
                    {{ form.password }}
                    <span class="input-group-text" onclick="togglePasswordVisibility('id_password', 'togglePassword')">
                        <i class="fa fa-eye" id="togglePassword"></i>
                    </span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form>
    </div>
</div>

<script>
    function togglePasswordVisibility(fieldId, iconId) {
        var passwordField = document.getElementById(fieldId);
        var toggleIcon = document.getElementById(iconId);

        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        }
    }
</script>

{% endblock %}
